<div tabindex="-1" role="dialog" class="modal fade" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" data-ng-click="close($event)">
    <div class="modal-dialog" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}">
        <div class="modal-content square-btn">
            <div class="modal-header custom-modal-header square-btn" ng-controller="modalCtrl">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel($event)">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3  align='{{ x }}' class="modal-title">{{modalTitle}}</h3>
                <!--<h3 class="modal-title">{{modalTitle}}</h3>-->
            </div>
            <div class="modal-body" modal-transclude>
                
            </div>            
        </div>
    </div>
</div>