<div class="col-md-12 col-lg-12 col-sm-12 content-container margin-bottom-10">

    <div class="col-md-3 col-lg-3">

        <!--<h4>Sign Up</h4><hr/>-->

    </div>
    <div class="col-md-6 col-lg-6">
        <h4>Sign In</h4><hr/>
        <form action="javascript:void(0)" name="loginFrm" novalidate ng-submit="signin( loginFrm )" role="form">
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="username" class="form-control" ng-model="login.username" required>
                <span ng-show="loginFrm.submitted && loginFrm.username.$error.required" class="error">This field is required</span>
                <span ng-show="loginFrm.submitted && loginFrm.username.$error.email" class="error">Not a valid Email</span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" ng-model="login.password" required>
                <span ng-show="loginFrm.submitted && loginFrm.password.$error.required" class="error">This field is required</span>
            </div>
            <div class="form-group" >
                <span ng-show="invalid" class="error">Invalid username or password!!</span>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-lg-6">
                    <input type="submit" value="Login" class="btn btn-primary">
                </div>
                <div class="col-md-6 col-lg-6">
                    <!--<input type="button" value="Registration" class="btn btn-primary">-->
                    <!--<span> <a ui-sref="registration()">Registration, If you are applicant?</a></span>-->

                </div>

            </div>
            </br></br></br>
        </form>

    </div>
    <div class="col-md-3 col-lg-3">

        <!--<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>-->

        <input type="button" value="LogOut" class="btn btn-primary" ng-click="logOut()">

        <input type="button" value="Get User" class="btn btn-primary" ng-click="getUserInfo()">
        <!--<h4>Sign Up</h4><hr/>-->

    </div>

</div>


<!--<div login url="app/components/login/loginView.html" > </div>-->