<nav id="header" class="navbar navbar-default" role="navigation" ng-controller="loginHeaderController">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="javascript:void(0)bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="../../../assets/img/dsi.jpg" style="width: 120px; height: 40px;"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav navbar-right" >-->
            <!--<li class="dropdown">-->
            <!--<a href="javascript:void(0)" class="dropdown-toggle" role="button" aria-expanded="false">-->
            <!--{{userInfo.first_name +" "+ userInfo.last_name }} <img ng-src="{{profile_url}}" style=" width: 34px; height: 34px;"> <span class="caret"></span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a ng-hide="applicant"  href="javascript:void(0)" ng-click="edit()">Edit Profile</a></li>-->
            <!--&lt;!&ndash;<li><a ng-hide="applicant" href="javascript:void(0)">Professionals</a></li>&ndash;&gt;-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
            <!--<button  class="btn btn-primary square-btn pull-right" ng-click="logIn()" style="margin-top:12px;">Login</button>-->

            <div class="nav navbar-nav navbar-right margin-top-10">
                Sign in | Sign up
            </div>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
